body{
    font-family: monospace;
    text-align: center;
    justify-content: center;
    margin: auto;
    background: linear-gradient(to right, #6a3093, #a044ff);
}

.head{
    font-size: 40px;
    color: white;
}

.board{
    height: 300px;
    background-color: transparent;
}

.form {
    width: 200px;
    height: 30px;
    background: transparent;
    font-size: 25px;
    color: white;
    box-shadow: 5px 4px 3px 2px;
    margin: 20px;
    font-family: monospace;
}

.add, .delete{
    height: 39px;
    width: 50px;
    background: transparent;
    font-size: 25px;
    color: white;
    box-shadow: 5px 4px 3px 2px;
}


.task{
    font-size: 25px;
    color: white;
    margin: 20px;
    font-family: monospace;
}
